---
import Layout from '../layouts/Layout.astro';
import AboutContainer from "../components/AboutContainer.astro";
---

<Layout title="Home">
	<main class="flex flex-col gap-12 py-8 px-4 xl:px-56 md:px-28">
		<h1 class="text-5xl">About Us</h1>
		<AboutContainer />
	</main>
</Layout>
