---
import Layout from '../layouts/Layout.astro';
import ContactComponent from "../components/ContactComponent.astro";
---

<Layout title="Home">
	<main class="flex flex-col gap-6 py-8 px-4 xl:px-56 md:px-28">
		<h1 class="text-5xl">Contact Us</h1>
		<ContactComponent />
	</main>
</Layout>
