---
import Layout from '../layouts/Layout.astro';
import Form from "../components/PostComponent.astro";
---

<Layout title="Home">
	<main class="flex flex-col py-8 px-4 xl:px-56 md:px-28">
		<h1 class="text-5xl">Create your Blog</h1>
		<div class="bg-gray-800 h-1 mt-6"></div>
		<Form />
	</main>
</Layout>
