<footer class="bg-black w-full  text-gray-300 mt-8 py-12 text-md">
    <div class="container gap-5 md:gap-0 flex-col md:flex-row justify-center items-center mx-auto flex md:justify-between">
        <p class="text-sm text-center">&copy; 2024 BMP</p>
        <ul class="flex flex-col justify-center items-center gap-2">
            <p class="underline">Links</p>
            <a href="/" class="hover:text-white">Inicio</a>
            <a href="/about" class="hover:text-white">Acerca de</a>
            <a href="/contact" class="hover:text-white">Contacto</a>
            <a href="/blogs" class="hover:text-white">Blogs</a>
        </ul>
        <div class="flex gap-2 flex-col justify-center items-center">
            <p class="underline">Tecnologías utilizadas</p>
            <p>Astro</p>
            <p>React</p>
            <p>CodeStitch</p>
            <p>Tailwind</p>
        </div>
    </div>
</footer>
